.auth_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.auth_Container img {
  width: 120px;
  margin-bottom: 1rem;
  object-fit: contain;
  justify-content: center;
}

.auth_Form {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  border: lightgray solid 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  min-width: auto;
}

.auth_Form div {
  display: flex;
  flex-direction: column;
}

.auth_Form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.auth_Form form {
  display: flex;
  flex-direction: column;
}

.auth_Form form div {
  margin-bottom: 1rem;
}

.auth_Form form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.auth_Form form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth_Form form button {
  background-color: #FFCE12;
  border: 1px solid #d39e00;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.auth_Form form button:hover {
  background-color: #e2b33c;
}

.auth_Form div input:focus {
  outline: 2px solid skyblue;
  border-color: #f0c14b;
  box-shadow: 0 0 5px rgba(240, 193, 75, 0.5);
}

.auth_Container p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
}

.signUp {
  border: none;
  border-radius: 5px;
  width: 100%;
  color: black;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 13px;
  padding: 10px;
  font-weight: 500;
}

.signUp:hover {
  background-color: lightgray;
}

@media (max-width: 420px) {
  .auth_Container {
    padding: 0 16px;
  }

  .auth_Form {
    padding: 1rem;
  }
}

.underlineFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.underlineFooter .footer_links {
  display: flex;
  color: lightskyblue;
  gap: 15px;
  margin-bottom: 10px;
}

.underlineFooter .footer_links:hover {
  text-decoration: underline;
  color: lightskyblue;
  cursor: pointer;
}